@(loginForm: Form[(String, String)])(implicit lang: Lang, flash: Flash, request: RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@tags.main(Messages("text.sessions.login.title")) {
  <h1>@Messages("text.sessions.login.title")</h1>
  @loginForm.globalError.map { error =>
    <div class="alert alert-danger">
        @error.message
    </div>
  }
  <div class="well center well-small">
    @helper.form(routes.Sessions.authenticate, 'role -> "form") {
      @inputText(loginForm("email"), 'class -> "form-control", '_showConstraints -> false)
      @inputPassword(loginForm("password"), 'class -> "form-control", '_showConstraints -> false)
      <button type="submit" class="btn btn-primary">@Messages("buttons.login")</button>
    }
    <div><a href="@routes.Confirmations.resend_confirmation">@Messages("buttons.resend_confirmations")</a></div>
    <div><a href="@routes.ForgotPassword.forgotPassword">@Messages("buttons.forgot_password")</a></div>
  </div>
}
