@(forgotPasswordForm: Form[(String)])(implicit lang: Lang, flash: Flash, request: RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@tags.main(Messages("text.passwords.request_password.title")) {
  <h1>@Messages("text.passwords.request_password.title")</h1>
  @forgotPasswordForm.globalError.map { error =>
    <div class="alert alert-danger">
        @error.message
    </div>
  }
  <div class="well center well-small">
    @helper.form(routes.ForgotPassword.send, 'role -> "form") {
      @inputText(forgotPasswordForm("email"), 'class -> "form-control", '_showConstraints -> false)
      <button type="submit" class="btn btn-primary">@Messages("buttons.login")</button>
    }
    <div><a href="@routes.Sessions.login">@Messages("buttons.login")</a></div>
    <div><a href="@routes.Confirmations.resend_confirmation">@Messages("buttons.resend_confirmations")</a></div>
  </div>
}
