@(message: String)(implicit flash: Flash, request: RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@tags.main("Sign up!") {
  <h1>Sign up!</h1>
  <div class="well center well-login">
    restrito
  </div>
}
