@(userForm: Form[(String, String, String)])(implicit lang: Lang, flash: Flash, request: RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@tags.main(Messages("text.registrations.signup.title")) {
  <h1>@Messages("text.registrations.signup.title")</h1>
  @if(userForm.hasErrors == true) {
    <div class="alert alert-danger">
      @Messages("error.found")
    </div>
  }

  <div class="well center well-small">
    @helper.form(routes.Registrations.registrate, 'role -> "form") {
      @inputText(userForm("name"), 'class -> "form-control", '_showConstraints -> false)
      @inputText(userForm("email"), 'class -> "form-control", '_showConstraints -> false)
      @inputPassword(userForm("password.main"), 'class -> "form-control", '_showConstraints -> false)
      @inputPassword(userForm("password.confirm"), 'class -> "form-control", '_showConstraints -> false, '_error -> userForm.error("password"))
      <button type="submit" class="btn btn-primary">@Messages("buttons.register")</button>
    }
  </div>
}
