@()(implicit lang: Lang, flash: Flash, request: RequestHeader)
@import helpers.SecuredHelper

<ul class="nav nav-pills pull-right">
  @if(SecuredHelper.userSignedIn == true) {
    <li><a href="@routes.Sessions.logout">@Messages("buttons.logout")</a></li>
  } else {
    <li><a href="@routes.Sessions.login">@Messages("buttons.login")</a></li>
    <li><a href="@routes.Registrations.signup">@Messages("buttons.signup")</a></li>
  }
</ul>
