@(confirmationForm: Form[(String)])(implicit lang: Lang, flash: Flash, request: RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@tags.main(Messages("text.confirmations.resend.title")) {
  <h1>@Messages("text.confirmations.resend.title")</h1>
  @confirmationForm.globalError.map { error =>
    <div class="alert alert-danger">
        @error.message
    </div>
  }
  <div class="well center well-small">
    @helper.form(routes.Confirmations.resend, 'role -> "form") {
      @inputText(confirmationForm("email"), 'class -> "form-control", '_showConstraints -> false)
      <button type="submit" class="btn btn-primary">@Messages("buttons.login")</button>
    }
    <div><a href="@routes.Sessions.login">@Messages("buttons.login")</a></div>
  </div>
}
